@tailwind base;
@tailwind utilities;
@tailwind components;

.gradient {
  background: linear-gradient(90deg, #04023f 0%, #024c21 100%);
}

.SignInBackground {
  background: linear-gradient(90deg, #818882 0%, #cdcdca 100%);
}

.NavbarGradient {
  background: linear-gradient(90deg, #04023f 0%, #024c21 100%);
}
